<% if resource.errors.any? %>
  <div id="error_explanation">
    <% resource.errors.full_messages.each do |message| %>
      <div class="alert alert-warning"><%= message %></div>
    <% end %>
  </div>
<% end %>
