<h1 class="alert alert-info text-center">Profile</h1>  

<div class="card p-4 m-4">

  <p><strong>Name</strong>: <%= current_user.name %></p>
  <p><strong>Email</strong>: <%= current_user.email %></p>
  
  <%= link_to 'Edit', edit_user_registration_path, class: 'btn btn-success' %>
</div>

